body{
    background-image: radial-gradient(at center center, rgb(56, 189, 248), rgb(186, 230, 253)) ;
}
.navbar{
    background-color:rgb(8, 145, 199);
    border-radius: 15px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 10px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: rgb(164, 159, 159);
}
.search{
    float: right;
    color: white;
    padding: 12px 90px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 8px;
    padding: 3px 17px;
    width: 190px;
}
.logo{
    position: absolute;
    height: auto;
    right: 20px;
    top: 21px;
    width: 40px;
}
#image{
    width: 370px;
    height: 200px;
    margin-left: 570px
}
#foot{
    background-color: rgb(31, 133, 229);
}
#para{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#head{
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 250px;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: rgb(41, 178, 232);
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  .container {
    padding: 2px 16px;
  }
  #img{
    height:150px; 
  }
  #rightcard{
    margin-left: 875px;
    margin-top: -300px;
  }