hr
{
color:rgb(50, 33, 146);
}
p
{
margin-left:20px;
}
body
{
background-image:url(“https://www.nissan-global.com/EN/INNOVATION/TECHNOLOGY/ARCHIVE/ALH/ASSETS/IMG/alh_04_en.jpg”);
}
#head{
    text-align: center;
}