body{background-color:#b9e2fb;} h1{text-align:center;

    color:purple;
    
    font-size:30px;} h2{color:#023e8a;
    
    font-size: 30px;}
    
    .img1 img, .img2 img{height:300px;
    
    width:300px; padding-left:500px;}
    
    .img3 img{height:500px;
    
    width:700px; padding-left:250px;}
    
    li, p, h3{font-size:25px;}
    .img{
        margin-left: 520px;
    }